version: "3.9"
services:
  postgres-db:
    image: postgres:16
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: maternidade
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  api:
    build: ./backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/maternidade
      SPRING_DATASOURCE_USERNAME: app_user
      SPRING_DATASOURCE_PASSWORD: app_password
      JWT_SECRET: change_me_secret_key_256_bits
    depends_on:
      - postgres-db
    ports:
      - "8080:8080"
  frontend:
    build: ./frontend
    depends_on:
      - api
    ports:
      - "80:80"
volumes:
  postgres-data: