@use '@angular/material' as mat;

$primary: mat.m2-define-palette(mat.$m2-teal-palette, 500);
$accent: mat.m2-define-palette(mat.$m2-deep-purple-palette, 300);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  density: 0,
));

@include mat.core();
@include mat.all-component-themes($theme);

body { background-color: #F7FAFB; }
.mat-card { border-radius: 12px; }